/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    background-color: white;
}

#container {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

/* regole header */
header h1 {
    color: rgb(229, 49, 112);
    font-size: 35px;
    margin-bottom: 40px;
}

/* regole parte principale */
.row {
    margin-top: 20px;   
}

.col {
    float: left;
    width: calc((100% / 3) - 20px);
    background-color: rgb(15, 14, 23);
    margin: 30px 10px;
    box-shadow: 0 0 8px grey;
    /* DEBUG */
    /* height: 80px;    */
}

div.col img {
    width: 30%;
    height: auto;
    margin: 0 auto;
    float: left;
    margin-right: 15px;
}

div.col div {
    background-color: rgb(15, 14, 23);
    text-align: left;
    margin-bottom: 8px;
    margin-top: 8px;
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.job {
    font-size: 13px;
    color: white;
}

.email {
    font-size: 12px;
    color: rgb(112, 203, 227);
}