/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    background-color: white;
}

#container {
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

/* regole header */
header h1 {
    color: rgb(229, 49, 112);
    font-size: 35px;
    margin-bottom: 40px;
}

/* regole parte principale */
.row {
    margin-top: 30px;
    /* width: calc(100% / 3); */
    /* height: 200px; */
    /* background-color: blueviolet; */
}

.col {
    float: left;
    width: calc(100% / 3);
    background-color: black;
    height: 100px;
    margin-bottom: 30px;
}