* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    background-color: white;
}

#container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

header h1 {
    color: rgb(229, 49, 112);
    font-size: 35px;
}